Repository therealchrisrock/frontend-take-home-challenge: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:staged, pnpm typecheck, vitest related --run, pnpm format:write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["pnpm lint:staged", "pnpm typecheck", "vitest related --run"],
  "*.{js,jsx}": ["pnpm lint:staged"],
  "*.{json,md,mdx}": ["pnpm format:write"]
}

feat: update configuration and enhance authentication pages
  .husky/pre-commit
  next.config.js
  package.json
  pnpm-lock.yaml
  src/app/auth/reset-password/page.tsx
  src/app/auth/signin/page.tsx
  src/app/auth/signup/page.tsx
  src/app/layout.tsx
  src/components/user-menu.client.tsx
Due: pnpm lint:staged, pnpm typecheck, vitest related --run, pnpm format:write

chore: change (app) to (checkers)
  src/app/(checkers)/friends/page.tsx
  src/app/(checkers)/game/[id]/page.tsx
  src/app/(checkers)/game/[id]/replay/page.tsx
  src/app/(checkers)/game/bot/page.tsx
  src/app/(checkers)/game/friend/page.tsx
  src/app/(checkers)/game/layout.tsx
  src/app/(checkers)/game/local/page.tsx
  src/app/(checkers)/game/page.tsx
  src/app/(checkers)/game/simple/page.tsx
  src/app/(checkers)/history/page.tsx
  src/app/(checkers)/layout.tsx
  src/app/(checkers)/messages/page.tsx
  src/app/(checkers)/page.tsx
  src/app/(checkers)/profile/page.tsx
  src/app/(checkers)/test-coming-soon/page.tsx
  src/app/(checkers)/users/[username]/page.tsx
  src/app/(checkers)/users/page.tsx
Due: pnpm lint:staged, pnpm typecheck, vitest related --run

refactor: streamline authentication layout and remove unused components
  .cursorrules
  src/app/auth/_components/AuthLayout.tsx
  src/app/auth/signin/layout.tsx
  src/app/auth/signin/page.tsx
  src/app/auth/signout/layout.tsx
  src/app/auth/signout/page.tsx
  src/app/auth/signup/layout.tsx
  src/app/auth/signup/page.tsx
  src/app/layout.tsx
  src/app/providers.tsx
Due: pnpm lint:staged, pnpm typecheck, vitest related --run

chore: update ESLint configuration and add unused imports plugin
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: pnpm lint:staged, pnpm format:write

chore(reorg): baseline setup — keep ~ alias, restore /auth, scaffold (checkers) private folders
  .cursor/rules/project-structure.mdc
  .cursor/rules/route-colocation.mdc
  REORG_PLAN.md
  tsconfig.json
Due: pnpm format:write

refactor(checkers): colocate profile/users/history components under route _components and update imports
  src/app/(checkers)/history/_components/MatchHistoryTable.tsx
  src/app/(checkers)/history/page.tsx
  src/app/(checkers)/profile/_components/MatchHistory.tsx
  src/app/(checkers)/profile/_components/ProfileManagement.tsx
  src/app/(checkers)/profile/_components/StatsSection.tsx
  src/app/(checkers)/profile/page.tsx
  src/app/(checkers)/users/[username]/page.tsx
  src/app/(checkers)/users/_components/GameProfileView.tsx
  src/app/(checkers)/users/_components/UsersBrowser.tsx
  src/app/(checkers)/users/page.tsx
Due: pnpm lint:staged, pnpm typecheck, vitest related --run

refactor(lib): move features/game hooks and state to lib/game and update imports
  REORG_PLAN.md
  src/app/(checkers)/_components/game/BoardPreview.tsx
  src/app/(checkers)/_components/game/GameController.tsx
  src/features/game/ui/GameScreen.tsx
  src/lib/game/hooks/use-ai.ts
  src/lib/game/hooks/use-auto-save.ts
  src/lib/game/hooks/use-game-timers.ts
  src/lib/game/hooks/use-must-capture.ts
  src/lib/game/hooks/use-online-sync.ts
  src/lib/game/hooks/use-player-card.ts
  src/lib/game/hooks/use-variant-config.ts
  src/lib/game/state/game-context.tsx
  src/lib/game/state/game-reducer.ts
  src/lib/game/state/game-types.ts
Due: pnpm lint:staged, pnpm typecheck, vitest related --run, pnpm format:write

fix(imports): correct paths after reorg (GameScreen, BoardPreview, GameController, users pages)
  src/app/(checkers)/_components/game/BoardPreview.tsx
  src/app/(checkers)/_components/game/GameController.tsx
  src/app/(checkers)/users/[username]/page.tsx
  src/app/(checkers)/users/page.tsx
  src/features/game/ui/GameScreen.tsx
Due: pnpm lint:staged, pnpm typecheck, vitest related --run

fix(imports): point GameScreen hooks/state to ~/lib/game after move
  src/features/game/ui/GameScreen.tsx
Due: pnpm lint:staged, pnpm typecheck, vitest related --run

fix(imports): correct player-card-container hook path to ~/lib/game/hooks
  src/features/game/ui/player-card-container.tsx
Due: pnpm lint:staged, pnpm typecheck, vitest related --run

refactor(checkers): move board-style and map-user-to-player-info to app/(checkers)/_lib and update imports
  src/app/(checkers)/_components/game/Board.tsx
  src/app/(checkers)/_components/game/BoardPreview.tsx
  src/app/(checkers)/_components/game/GameSkeleton.tsx
  src/app/(checkers)/_lib/board-style.ts
  src/app/(checkers)/_lib/map-user-to-player-info.ts
  src/app/(checkers)/page.tsx
Due: pnpm lint:staged, pnpm typecheck, vitest related --run

fix(imports): adjust relative paths in lib/game after reorg (ai-engine, logic)
  src/lib/game/ai-engine.ts
  src/lib/game/logic.ts
Due: pnpm lint:staged, pnpm typecheck, vitest related --run

refactor(checkers): move GameScreen and player-card-container to app/(checkers)/_components/game and update imports
  src/app/(checkers)/_components/game/BoardPreview.tsx
  src/app/(checkers)/_components/game/GameController.tsx
  src/app/(checkers)/_components/game/GameScreen.tsx
  src/app/(checkers)/_components/game/player-card-container.tsx
  src/lib/game/ai-engine.ts
  src/lib/game/logic.ts
Due: pnpm lint:staged, pnpm typecheck, vitest related --run

refactor: remove obsolete test files for 10x10 game mechanics and board sizes following reorganization
  REORG_PLAN.md
  src/test-10x10-game.ts
  src/test-board-sizes.ts
Due: pnpm lint:staged, pnpm typecheck, vitest related --run, pnpm format:write

refactor(lib): update ESLint configuration and adjust import paths following reorganization of game modules
  eslint.config.js
  src/lib/__tests__/backward-capture.test.ts
  src/lib/__tests__/illegal-moves.test.ts
  src/lib/board-config.test.ts
  src/lib/draw-detection.test.ts
  src/lib/game-engine/__tests__/cross-variant.test.ts
  src/lib/game-engine/__tests__/edge-cases.test.ts
  src/lib/game-engine/__tests__/integration.test.ts
  src/lib/game-engine/game-rules.ts
  src/lib/game-engine/index.ts
  src/lib/game-logic-multi-board.test.ts
  src/lib/game-logic.test.ts
  src/lib/game/checkers-notation.ts
  src/lib/game/draw-detection.ts
  src/lib/game/move-evaluation.ts
  src/lib/game/player-types.ts
  src/lib/game/time-control-types.ts
  src/lib/storage/indexeddb.ts
  src/lib/types/move-analysis.ts
  test-10x10.mjs
Due: pnpm lint:staged, pnpm typecheck, vitest related --run

refactor: clean remaining lint problems
  eslint.config.js
  import-fix-agents.md
  lint-results.json
  prisma/seed-games.ts
  src/app/(checkers)/_components/game/Board.tsx
  src/app/(checkers)/_components/game/GameController.tsx
  src/app/(checkers)/_components/game/GameReplayController.tsx
  src/app/(checkers)/_components/game/GameSettings.tsx
  src/app/(checkers)/_components/game/MotionColorSelector.tsx
  src/app/(checkers)/_components/game/MustCaptureArrow.tsx
  src/app/(checkers)/_components/game/Piece.motion.tsx
  src/app/(checkers)/_components/game/TimeControlSelector.tsx
  src/components/chat/FloatingChat.motion.tsx
  src/components/chat/IntegratedChat.tsx
  src/components/ui/loading-dots.tsx
  src/components/ui/use-toast.ts
  src/hooks/use-toast.ts
  src/hooks/useAudioWarnings.ts
  src/hooks/useGameStorage.ts
  src/hooks/useGameSync.ts
  src/hooks/useOfflineSync.ts
  src/lib/board-config.test.ts
  src/lib/draw-detection.test.ts
  src/lib/game-engine/__tests__/cross-variant.test.ts
  src/lib/game-engine/__tests__/edge-cases.test.ts
  src/lib/game-engine/__tests__/integration.test.ts
  src/lib/game-logic-multi-board.test.ts
  src/lib/game-logic.test.ts
  src/lib/game/hooks/use-auto-save.ts
  src/lib/multi-tab/session-manager.ts
  src/lib/storage/local-storage.test.ts
  src/server/api/routers/auth.test.ts
  src/server/auth-config.test.ts
  src/server/auth.test.ts
  src/test/mocks/auth-handlers.ts
  src/test/utils.tsx
  typescript-errors-fix-strategy.md
Due: pnpm lint:staged, pnpm typecheck, vitest related --run, pnpm format:write

refactor: update ESLint configuration to downgrade certain errors to warnings and add type imports for better type safety
  eslint.config.js
  src/app/(checkers)/_components/game/Board.tsx
  src/app/(checkers)/_components/game/GameReplayController.tsx
  src/app/(checkers)/_components/game/MotionColorSelector.tsx
  src/app/(checkers)/_components/game/MoveArrow.tsx
  src/app/(checkers)/_components/game/MoveHistory.tsx
  src/app/(checkers)/_components/game/Piece.motion.tsx
  src/app/(checkers)/_components/game/PlayerCard.tsx
  src/app/(checkers)/_components/game/PlayerCardSkeleton.tsx
  src/app/(checkers)/_components/game/PostGameAnalysis.tsx
  src/app/(checkers)/_components/game/Square.motion.tsx
  src/app/(checkers)/_components/game/Square.tsx
  src/app/(checkers)/_components/game/TimeControlSelector.tsx
  src/app/(checkers)/_components/game/WinnerDialog.motion.tsx
  src/app/(checkers)/_components/game/WinnerDialog.tsx
  src/app/(checkers)/history/_components/MatchHistoryTable.tsx
  src/app/(checkers)/users/_components/UsersBrowser.tsx
  src/app/api/auth/[...nextauth]/route.ts
  src/app/auth/_components/AuthLayout.tsx
  src/app/auth/signin/page.tsx
  src/components/chat/FloatingChat.motion.tsx
  src/components/chat/GameChat.tsx
  src/components/chat/types.ts
  src/components/friends-mini-drawer.tsx
  src/components/user-menu.client.tsx
  src/hooks/useGameSync.ts
  src/lib/motion/dynamic.ts
  src/test/auth-utils.test.tsx
  typecheck-issues-breakdown.md
Due: pnpm lint:staged, pnpm typecheck, vitest related --run, pnpm format:write

fix: non-critical typechecking errors
  src/components/friends-mini-drawer.tsx
  src/hooks/useGameSync.ts
  src/hooks/useSingleTabEnforcement.ts
  src/lib/game-engine/__tests__/integration.test.ts
  src/lib/game-engine/game-rules.ts
  src/lib/game/ai-engine.ts
  src/lib/optimistic-updates.test.ts
  src/server/auth.test.ts
  src/test/mocks/auth-handlers.ts
  src/test/utils.tsx
Due: pnpm lint:staged, pnpm typecheck, vitest related --run

chore: update pre-commit hook to include TypeScript type checking
  .husky/pre-commit
Due: none

feat: Add avatar upload and username suggestion
  package-lock.json
  src/app/auth/new-user/page.tsx
  src/server/auth.ts
Due: pnpm lint:staged, pnpm typecheck, vitest related --run, pnpm format:write

feat: wrap AuthTransitionProvider in Suspense for improved loading handling
  src/app/auth/layout.tsx
Due: pnpm lint:staged, pnpm typecheck, vitest related --run

feat(deploy): switch to PostgreSQL for production deployment
  .env.example
  package.json
  pnpm-lock.yaml
  prisma/migrations/20250916001830_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/contexts/notification-context.tsx
  src/env.js
  src/hooks/useGameSyncEnhanced.ts
  src/lib/sse/enhanced-client.ts
  src/server/api/routers/multiplayerGame.ts
Due: pnpm lint:staged, pnpm typecheck, vitest related --run, pnpm format:write

feat(db): create PostgreSQL migration and seed production database
  .gitignore
  prisma/migrations/20250916001830_init/migration.sql
  prisma/migrations/20250916010445_init/migration.sql
  prisma/migrations/migration_lock.toml
Due: none

fix(auth): enable Discord OAuth account linking
  src/app/auth/new-user/page.tsx
  src/app/auth/signup/page.tsx
  src/server/auth.ts
Due: pnpm lint:staged, pnpm typecheck, vitest related --run

docs: update readme + segregate LLM scratch notes
  .env.example
  README.md
  llm-scratch-notes/AI_PROPOSAL.md
  llm-scratch-notes/FRIEND_REQUEST_TESTING_CHECKLIST.md
  llm-scratch-notes/GROUP-8-TESTING-SUMMARY.md
  llm-scratch-notes/REFACTORING_SUMMARY.md
  llm-scratch-notes/import-fix-agents.md
  llm-scratch-notes/typecheck-issues-breakdown.md
  llm-scratch-notes/typescript-errors-fix-strategy.md
  package.json
  pnpm-lock.yaml
  src/components/README-notifications.md
  src/components/game/README-multiplayer-ui.md
  src/components/social/README.md
  src/test/README-testing.md
Due: pnpm format:write

chore: remove unused image assets from public directory
  public/check.png
  public/og.png
  public/poster.png
  public/rogue.png
  src/app/opengraph-image.tsx
Due: pnpm lint:staged, pnpm typecheck, vitest related --run

fix(opengraph): remove stray character and ensure proper formatting
  src/app/opengraph-image.tsx
Due: pnpm lint:staged, pnpm typecheck, vitest related --run

fix(ui): match skeleton height to content height in Leaderboard
  src/components/Leaderboard.tsx
Due: pnpm lint:staged, pnpm typecheck, vitest related --run

feat(db): add Docker Compose configuration for PostgreSQL
  docker-compose.yml
  package.json
  prisma/seed-games.ts
Due: pnpm lint:staged, pnpm typecheck, vitest related --run, pnpm format:write

broke
  package.json
  pnpm-lock.yaml
  scripts/test-sse.cjs
  src/components/chat/PopupChat.tsx
  src/hooks/useGameSyncEnhanced.ts
  src/lib/sse/enhanced-client.ts
  test-sse-manual.md
Due: pnpm lint:staged, pnpm typecheck, vitest related --run, pnpm format:write

fix(game): show winner dialog after resignation
  src/app/(checkers)/_components/game/WinnerDialog.motion.tsx
Due: pnpm lint:staged, pnpm typecheck, vitest related --run

fix(game): prevent winner dialog from showing mid-game
  src/app/(checkers)/_components/game/WinnerDialog.motion.tsx
Due: pnpm lint:staged, pnpm typecheck, vitest related --run
